<?xml version="1.0" encoding="utf-8"?>
<!-- IIS-Konfiguration der Persona-Datenbank (statische Dateien, keine Datenbank). -->
<configuration>
  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <remove value="index.html" />
        <add value="index.html" />
      </files>
    </defaultDocument>
    <staticContent>
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <remove fileExtension=".svg" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
    </staticContent>
    <directoryBrowse enabled="false" />
  </system.webServer>
  <!-- Die Datendatei nie aus dem Browser-Cache liefern -->
  <location path="data">
    <system.webServer>
      <staticContent>
        <clientCache cacheControlMode="DisableCache" />
      </staticContent>
    </system.webServer>
  </location>
</configuration>
