<?xml version="1.0" encoding="utf-8"?>
<!-- IIS-Konfiguration der Persona-Datenbank. Die Daten liegen in App_Data (vom IIS gesperrt)
     und werden nur über api/daten.ashx ausgeliefert. -->
<configuration>
  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <remove value="index.html" />
        <add value="index.html" />
      </files>
    </defaultDocument>
    <staticContent>
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <remove fileExtension=".svg" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
    </staticContent>
    <directoryBrowse enabled="false" />
  </system.webServer>
</configuration>
